<div class="p-d-flex p-formgrid p-jc-center p-grid" style="height: 80vh;">
    <div class="p-col-12 p-lg-5 p-xl-4 p-md-6 p-sm-12 p-as-center">
        <div class="p-card p-component">
            <div class="p-card-header p-text-center" style="padding-top: 0.5rem;">
                <h1><span><i class="pi pi-user-plus" style="font-size: 2rem;"></i></span> &nbsp; Client Panel logIn</h1>
            </div>
            <form class="" #logInForm="ngForm" (ngSubmit)= "onSubmit(logInForm)">
                <div class="p-card-body">
                    <div class="p-card-content p-formgrid p-grid p-fluid">
                        <div class="p-field p-col">
                            <label for="firstName">Email</label>
                            <input type="text" name="firstName" id="firstName" pInputText>
                        </div>
                        <div class="p-field p-col">
                            <label for="lastName">Password</label>
                            <input type="text" name="lastName" id="lastName" pInputText>
                        </div>
                        <div class="p-col-12 p-md-12 p-mt-3">
                            <button type="submit" class="p-button-secondary p-button p-jc-center p-ripple"><span><i class="pi pi-user"></i> &nbsp; LogIn</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>  
</div>
