<p-menubar [model] = 'items'
  [style] = "{
    'border-radius': '0px',
    'background-color':'#e0e0e0',
    'border': '1px solid #e0e0e0'
  }"
>
  <ng-template pTemplate="start">
    <img src="../../../assets/img/maem_logo.png"  height="20" class="p-ml-6 p-mr-5 p-mt-1">
  </ng-template>
  <ng-template pTemplate="end">
    <button type="button" icon="pi pi-user" class="p-button-secondary p-button-text" (click)='logOut()' label="LogOut" pButton pRipple></button>
  </ng-template>

</p-menubar>


<!-- style="border-radius: 0px !important;" -->
