.no-client {
    margin: 3em 0;
    color: #1e88e5;
    text-align: center;
    font-size: 2em;
}

.hidden {
  visibility: hidden;
}

.waiting-loader{
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -50px 0px 0px -50px;
  z-index: 3;
}